.content{
  // content
  width: 700px;
  margin: 0 10px;
  float: left;
  // #wrap
  clear: both;
  background-color: #ffffff;
  margin-top: 500px;
  padding: 35px 0;

  // clearfix
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
