@charset "UTF-8";

.header {
  width: 960px;
  height: 100px;
  margin: 0 auto;

  &__global-nav {
    float: right;
    margin-top: 60px;
  }
  
  &__global-nav-list { 
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter', serif;
    
    > a {
      color: #ffffff;
      
      &:hover {
        border-bottom: 2px solid #ffffff;
        padding-bottom: 3px;
        text-decoration: none;
      }
    }
  }
}
